enum34
gevent
gmpy2
pysocks
pycrypto
ecdsa
zfec>=1.5.0
gipc
coincurve
scipy
setuptools
numpy
coverage
flake8
logutils
pytest
pytest-cov
pytest-mock
pytest-sugar
nose2
ipdb
ipython
Sphinx
sphinx-autobuild
sphinx_rtd_theme
